<footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto px-6 text-center">
        <p class="text-lg font-bold mb-2">Nuria Zardoya - Dietista-Nutricionista</p>
        <div class="flex justify-center space-x-6 my-4">
            <a href="https://www.instagram.com/nuriazardoyaa?igsh=MWp0bmIyMGI3eHBpMg==" target="_blank" rel="noopener noreferrer" class="hover:text-green-400"><i data-lucide="instagram" class="w-6 h-6"></i></a>
            <a href="https://www.linkedin.com/in/nuria-zardoya-lasheras-3579262b8" target="_blank" rel="noopener noreferrer" class="hover:text-green-400"><i data-lucide="linkedin" class="w-6 h-6"></i></a>
            <a href="mailto:nuriariba03@gmail.com" class="hover:text-green-400"><i data-lucide="mail" class="w-6 h-6"></i></a>
        </div>
        <p class="text-sm text-gray-400">&copy; <span id="year"></span> Nuria Zardoya. Todos los derechos reservados.</p>
        <p class="text-xs text-gray-500 mt-2">
            <a href="/privacidad.html" class="hover:underline">Política de Privacidad</a> |
            <a href="/legal.html" class="hover:underline">Aviso Legal</a> |
            <a href="/cookies.html" class="hover:underline">Política de Cookies</a>
        </p>
    </div>
        <button id="open-cookie-preferences" type="button" class="underline text-sm text-gray-600 hover:text-gray-900" aria-haspopup="dialog">
        Preferencias de cookies
        </button>

</footer>