<script type="application/ld+json" id="ld-localbusiness">
{
  "@context":"https://schema.org",
  "@type": ["Organization","LocalBusiness"],
  "@id":"{{ site.businessId }}",
  "name": "{{ site.legalName }}",
  "url":"{{ site.url }}/",
  "logo": "{{ site.logo }}",
  "image": "{{ site.socialImage }}",
  "email": "{{ site.email }}",
  "telephone": "{{ site.telephone }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.address.streetAddress }}",
    "addressLocality": "{{ site.address.addressLocality }}",
    "addressRegion": "{{ site.address.addressRegion }}",
    "postalCode": "{{ site.address.postalCode }}",
    "addressCountry": "{{ site.address.addressCountry }}"
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday","Wednesday", "Thursday","Friday"],
      "opens": "8:00",
      "closes": "17:00"
    }
  ],
  "sameAs": [
    "https://www.instagram.com/nuriazardoyaa?igsh=MWp0bmIyMGI3eHBpMg==",
    "https://www.linkedin.com/in/nuria-zardoya-lasheras-3579262b8"
  ],
  "areaServed":"Navarra",
  "priceRange":"€€"
}
</script>
