<script type="application/ld+json" id="ld-localbusiness">
{
  "@context":"https://schema.org",
  "@type":"LocalBusiness",
  "@id":"{{ site.businessId }}",
  "name":"Nuria Zardoya - Dietista-Nutricionista",
  "url":"{{ site.url }}/",
  "image":"{{ site.url }}{{ site.socialImage }}",
  "telephone":"+34 601 401 677",
  "address":{
    "@type":"PostalAddress",
    "streetAddress":"C. Antonio Machado, 33",
    "addressLocality":"Ribaforada",
    "addressRegion":"Navarra",
    "postalCode":"31550",
    "addressCountry":"ES"
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday","Wednesday", "Thursday","Friday"],
      "opens": "8:00",
      "closes": "17:00"
    }
  ],
  "sameAs": [
    "https://www.instagram.com/nuriazardoyaa?igsh=MWp0bmIyMGI3eHBpMg==",
    "https://www.linkedin.com/in/nuria-zardoya-lasheras-3579262b8"
  ],
  "areaServed":"Navarra",
  "priceRange":"€€"
}
</script>
